<%- include('header'); -%>
<%- include('navbar'); -%>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br>
<div class="row">
    <div class="col-lg-8 mx-auto">
        <!-- List group-->
        <ul class="list-group shadow">
            <% for(var i=0; i < blogs.length;i++) {%>
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a href="/blog/<%= blogs[i]['id'] %>" class="stretched-link link-dark">
                                <h4 class="mt-0 font-weight-bold mb-2"><%- blogs[i]['title'] %></h5>
                            </a>
                            <h6 class="mt-0 font-weight-bold mb-2">by <em><%- blogs[i]['author'] %></em></h5>
                            <p class="font-italic text-muted mb-0 small"><%- blogs[i]['content'] %></p>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
</div>

<%- include('partials/footer'); -%>